@import '../../node_modules/normalize.css/normalize.css';
@import 'variables.css';
@import 'base.css';

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-page);
  height: 100vh;
  overflow: hidden;
}

.App-pageContent {
  flex-grow: 1;
  display: flex;
  overflow: scroll;
}