@import '../../node_modules/normalize.css/normalize.css';
@import './variables.css';
@import './base.css';

.App {
  background-color: var(--colors-white);
}

.App-content {
  max-width: 100vw;
  overflow-x: scroll;
}

.action {
  padding: 0.25em 0.5em;
  color: var(--colors-selected);
  background-color: var(--colors-white);
  cursor: pointer;
  transition: opacity var(--transition-fast);

  &-dark {
    background-color: var(--colors-greyLight);
  }

  &-black {
    background-color: var(--colors-greyDark);
    color: var(--colors-white);
  }
}

.invisible {
  opacity: 0;
}