@import '../../node_modules/normalize.css/normalize.css';
@import './variables.css';
@import './base.css';

.App {
  background-color: var(--colors-white);
  min-height: 100vh;
  min-width: 650px;
  display: flex;
  flex-direction: column;
}

.App-content {
  display: flex;
  flex-grow: 1;
  min-width: 1270px;
  overflow-x: scroll;
}

.action {
  padding: 0.25em 0.5em;
  color: var(--colors-selected);
  background-color: var(--colors-white);
  cursor: pointer;
  transition: opacity var(--transition-fast);

  &-dark {
    background-color: var(--colors-greyLight);
  }

  &-black {
    background-color: var(--colors-greyDark);
    color: var(--colors-white);
  }
}

.invisible {
  opacity: 0;
}