@import './variables';

.BrowseTableSection {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
  padding: var(--table-padding) 0;
  border-right: 1px solid var(--colors-greyLight);

  &-heading {
    color: var(--colors-grey);
    font-weight: 100;
    font-size: var(--font-size-table-heading);
    padding: 0 var(--table-padding);
  }

  &-column {
    display: inline-block;
    padding: 0;

    /*first child is heading*/
    &:nth-child(2):last-child {
      width: 100%;
    }
  }

  &-title {
    padding: var(--table-padding);
    color: var(--colors-grey);
  }

  &-values {

  }

  &-cell {
    padding: var(--table-padding);
    min-width: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0s;

    &:empty {
      background-color: var(--colors-greyLight);
    }

    &.checked {
      background-color: var(--colors-blueGreyLight);
    }

    &.hovered {
      background-color: var(--colors-blueGreyMed);
      color: var(--colors-white);
    }
  }

  &:last-child {
    border-right: 0;
  }
}