@import './variables.css';

.BrowseTableHeaderColumn {
  &-open {
    transition: 0s;
    margin-right: 1em;
  }

  .BrowseTableSection-title {
    text-align: right;
  }

  .BrowseTableSection-cell {
    padding-left: 0.5em;
    padding-right: 1.5em;
  }

  &-dot {
    font-size: 1em;
    padding-right: 0.5rem;
    line-height: 1rem;
    cursor: pointer;
    color: var(--colors-grey);

    &.active {
      color: var(--colors-selected);
    }
  }
}