@import './variables';

.BrowseTableSection {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
  padding: var(--table-padding) 0;
  border-right: 1px solid var(--colors-greyLight);

  &-heading {
    color: var(--colors-grey);
    font-weight: 100;
    font-size: var(--font-size-table-heading);
    padding: 0 var(--table-padding);
  }

  &-columns {
    display: flex;
    flex-direction: row;
  }

  &-columnName {
    padding: var(--table-padding);
    color: var(--colors-grey);
  }

  &-compare {
    text-align: right;
  }

  /* hack - should be shared column width var */
  &:first-child {
    width: 96px;
  }

  &:last-child {
    border-right: 0;
  }
}