@import './variables.css';

.BrowseCharts {
  background-color: var(--colors-blueGreyDark);
  min-height: 200px;
  padding: 1em;
  flex-grow: 1;
  color: var(--colors-white);

  &-heading {
  	font-size: 1.5em;
  	font-weight: 500;	
  }

  &-content {
  	padding: 2em;
  }

  &-empty {
    padding: 2rem;
    font-size: 1.25rem;
    text-align: center;
  }
}