@import './variables';

.BrowseTableSection {
  flex-shrink: 0;
  white-space: nowrap;
  border-right: 1px solid var(--colors-greyLight);

  &-headerDot {
    font-size: 1em;
    padding-right: 0.5rem;
    line-height: 1rem;
    cursor: pointer;
    color: var(--colors-grey);
    user-select: none;

    &.active {
      color: var(--colors-selected);
    }
  }

  &-heading {
    color: var(--colors-grey);
    font-weight: 100;
    font-size: var(--font-size-table-heading);
    padding: 0 var(--table-padding);
  }

  &-columns {
    display: flex;
    flex-direction: row;
  }

  &-columnName {
    padding: var(--table-padding);
    color: var(--colors-grey);
  }

  &-compare {
    text-align: right;
  }

  /* see also constant for headerColumnWidth */
  &:first-child {
    width: 96px;
  }

  &:last-child {
    border-right: 0;
  }
}