@import './variables.css';

.ComparisonActions {

  &-remove {
    padding: 0.5em;
    font-color: var(--colors-greyDark);
    background-color: var(--colors-greyLight);
    margin-right: 1em;
    cursor: pointer;
  }

  &-star {
    display: inline-block;
    padding: 0.5em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('/images/favorite.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}