@import './variables.css';

/* could use SCSS extends language equivalent for CSS4, but this is pretty clean just not modular */

.ComparisonActions,
.ComparisonRow {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: background-color var(--timing-fast) ease-out;

  &.active {
    background-color: var(--colors-white);
  }

  &-key,
  &-value {
    padding: 0.5rem 1rem;
  }

  &.active &-key,
  &.active &-value {
    font-size: 1.5em;
    font-weight: 100;
    color: var(--colors-grey);
  }

  &-key {
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
    text-align: right;
    border-right: 1px solid var(--colors-grey);
  }

  &.active &-key {
    border-right: 0;
  }

  &-value {
    flex-grow: 1;
  }

  &.active &-value {}
}