@import './variables.css';

/* could use SCSS extends language equivalent for CSS4, but this is pretty clean just not modular */

.ComparisonActions,
.ComparisonRow {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  /* transition: background-color var(--timing-fast) ease-out; */

  &.active {
    background-color: var(--colors-white);
  }

  &-key,
  &-value {
    padding: 0.25rem 1rem;
    color: var(--colors-blueGreyDark);
  }

  &.active &-key,
  &.active &-value {
    font-size: 1.5em;
    font-weight: 100;
  }

  &-key {
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
    text-align: right;
    border-right: 1px solid var(--colors-grey);
  }

  &.active &-key {
    border-right: 0;
    color: var(--colors-grey);
  }

  &-value {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  &.active &-value {}

  /* padding on row past active */
  &.active + & &-key,
  &.active + & &-value {
    padding-top: 0.5em;
  }

  &:first-child &-key {
    padding-bottom: 2em;
  }

  &:last-child &-key {
    padding-bottom: 3em;
  }
}