@import './variables.css';

.Footer {
  padding: 1.5em 0;
  background-color: var(--background-color-footer);
  display: flex;
  flex-direction: row;

  &-autodesk {
    display: block;
    width: var(--width-panel);
    flex-grow: 0;
  }

  &-right {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  &-links {
    flex-grow: 1;

  }

  &-link {
    display: block;
    color: var(--colors-greyDark);
    transition: color var(--transition-extrafast);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: var(--colors-grey);
    }

    &:first-child {
      padding-bottom: 1em;
    }

    &:last-child {
      padding-top: 1em;
    }
  }

  &-logo {
    flex-grow: 0;
    align-self: flex-end;
    display: block;
    height: 48px;
    width: 226px;
    color: var(--colors-white);
    text-decoration: none;
    background-image: url('/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}