@import './variables.css';

.Header {
  background-color: var(--background-color-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-nav {
    width: var(--width-panel);
  }

  &-home {
    display: block;
    height: 45px;
    width: 256px;
    color: var(--colors-white);
    text-decoration: none;
    background-image: url('/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}