@import './variables.css';

.RefinePanel {
  background-color: var(--colors-blueGreyLight);
  width: var(--width-panel);
  flex-shrink: 0;
  padding: 1rem 1.5rem;

  &-heading {
    color: var(--colors-greyDark);
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
