@import './variables.css';


.RefineSection {
  position: relative;
  margin-bottom: 1.5rem;

  &-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--colors-selected);
    cursor: pointer;
  }

  &-reset {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: default;
  }

  &-control {
    display: none;
  }

  &.active &-heading {
    color: var(--colors-black);
  }

  &.hasFilter &-reset {
    opacity: 1;
    cursor: pointer;
    transition: opacity var(--transition-fast);
  }

  &.active &-control {
    display: block;
  }
}