@import './variables.css';


.RefineSection {
  position: relative;
  margin-bottom: 1.5rem;

  &-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &-reset {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: default;
  }

  &.active &-reset {
    opacity: 1;
    cursor: pointer;
    transition: opacity var(--transition-fast);
  }

  &-control {

  }
}