@import './variables.css';

.SearchBar {
  flex-grow: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: row;

  &-text {
    color: var(--colors-grey);
    align-self: center;
    padding-right: 1em;
  }

  &-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 0.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &-lens {
    /* temporary image */
    display: none;
    background-image: url('/images/add.svg');
  }

  &-close {
    background-image: url('/images/close.svg');
  }

  &-share {
    background-image: url('/images/share.svg');
  }

  &-feedback {
    background-image: url('/images/feedback.svg');
  }

  &.closed .SearchBarInput {
    opacity: 0;
    pointer-events: none;
  }

  &.closed &-text {
    width: 0;
    opacity: 0;
  }

  &.closed &-content {
    opacity: 0;
    cursor: default;
  }

  &.closed &-lens {
    display: inline-block;
  }

  &.closed &-close {
    width: 0;
    opacity: 0;
    margin-left: 0;
    pointer-events: none;
  }
}