@import "./variables";

.SearchBarInput {
  padding: 0 3rem 0 0;
  flex-grow: 1;
  background-color: var(--colors-white);
  display: flex;
  flex-direction: row;

  input {
    border: 0;
    outline: 0;
    flex-grow: 1;
    padding: 0.5em;
  }

  &-tags {
    padding: 0.5em;
    display: flex;
    flex-direction: row;

    &:empty {
      padding: 0;
    }
  }
}