:root {

  /* Colors */

  --colors-black: #000000;
  --colors-greyDark: #6B6F7C;
  --colors-grey: #C2C5D2;
  --colors-greyLight: #EEEFF3;
  --colors-white: #ffffff;

  --colors-blueGreyMedDark: #292D40;
  --colors-blueGreyMed: #4B505E;
  --colors-blueGreyLight: #DFE2EC;

  --colors-selected: #3F82FF;

  --colors-text: var(--colors-blueGreyMedDark);
  --colors-bluetext: var(--colors-selected);

  /* Backgrounds */

  --background-color-page: var(--colors-white);
  --background-color-panel: var(--colors-blueGreyLight);
  --background-color-header: var(--colors-blueGreyMedDark);
  --background-color-footer: var(--colors-blueGreyMedDark);

  /* Typography */

  --font-family-base: Helvetica, sans-serif;
  --font-size-text: 12px;
  --font-size-table-heading: 1.75rem;

  /* Layout */

  --width-panel: 300px;
  --table-padding: 0.5rem;

  /* Timing */

  --timing-extrafast: 0.05s;
  --timing-fast: 0.15s;

  /* Transitions */

  --transition-fast: var(--timing-fast) ease-out;
}
